mixin landing-main
    section.section
        .section__wrapper
            .landing-main
                img(src='img/logo.png')
                .landing-main__title Photonics solution provider.
                .landing-main-block
                    span FlexWave Photonics OÜ
                    span Estonia, Harju maakond, Tallinn,
                    span Kesklinna linnaosa, Narva mnt 5, 10117
                    span +372 602 8507
                    a(href='#') info@flwave.com
                    a(href='www.flwave.com') www.flwave.com
