// Museo Sans

@font-face {
  font-family: 'Museo Sans 500';
  src: url('../../modules/fonts/MuseoSansCyrl-500.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../../modules/fonts/MuseoSansCyrl-700.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
